

@media only screen and (min-width: 992px){
    .contact-details{
        justify-content: space-between;
    }
    .web-hide{
        display: none;
    }
}
@media only screen and (max-width: 1245px){
    .sanctioned-slide .container{
        max-width: 100%;
    }
    .sanctioned{
        right: 100px;
    }
    .slider-copyright-text{
        right: 24px;
    }
}
@media only screen and (min-width: 1200px){
    .show_hide_br{
        display: none;
    }
}
@media only screen and (max-width: 1100px){
    .full_width{
        width: 100% !important;
    }
}
@media only screen and (max-width: 1024px){
    .info{
        padding-top: 12px;
    }
    .padd_sett{
        padding: 5px;
    }.pos_rel{
        padding-left: 33px !important;
    }.quote_left::before{
        top: 10px;
        left: 1px;
    }.quote_left::after{
        top: 72px;
        left: 66px;
    }    
}

@media only screen and (max-width: 991px){
    .clain_slide .container{
        max-width: 100%; 
    }
    .custom-header .navbar a{
        margin-left: auto;
        margin-right: auto;
        display: flex; 
    }
    .custom-header .navbar button.collapsed.navbar-toggler{  
        opacity: 1;
    }
    .toggle-close-button{
        visibility: hidden;
    }
    .custom-header .navbar button.navbar-toggler{
        opacity: 0;
    }
    .custom-header .navbar-collapse {
        position: fixed;
        left: 0;
        height: 100vh;
        background-color: #ffffff;
        width: 100%;
        padding: 37px 17px 10px;
        top: -100%;
        transition: all ease-in-out 0.3s;
    }
    .custom-header .navbar-collapse.show{
        top: 42px;
    }
    .custom-header .navbar-nav .nav-item .nav-link{
        margin-left: 0;
        padding: 10px 0;
        border-bottom: 1px solid #faa916;
        font-size: 18px;
        line-height: 22px;
    }
    .custom-header .navbar-nav .nav-item .nav-link:hover{
        border-color: inherit;
    } 
    .cost-reduce-listing .col-md-2{
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }
    .cost-reduce-listing{
        justify-content: flex-start !important;
    }
    .health-tips {
        max-width: 100%;
        display: flex;
        order: 2;
    }
    .health-tip-title,.health-counter,.health-tip-list {
        max-width: 100%;
    }
    .health-tip-title h4 br,.automated-date .health-counter h4 br{
        display: none;
    }
    .automated-date .col-md-3,.automated-date .col-md-9{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .margin_set_top_adjust_26 img {
        width: 100%;
    }
    .pad_box_set{
        padding-left: 15px;
    }
    .res_pad_set{
        margin-top: 30px;
    }
    .sign_img{
        width: 25px !important;
    }
    .pad_ul_left{
        padding-left: 15px;
    }.ipad-img-size{
        width: 100%;
    }.pos_rel{
        padding-left: 0px !important;
    }.quote_left::before{
        left: 138px;
    }.quote_left::after{
        top: 23px;
        right: 185px;
        left: auto;
    }.custom-header .navbar{
        display: flex; 
        justify-content: space-between;
        max-width: 100%;
    }.pad_set_adjust {
        padding-right: 15px;
    }.pad_set_adjust_left {
        padding-left: 15px;
    }.margin-bottom_for_ipad_set{
        margin-bottom: 10px;
    }.blog_1_quote_27::before{
        left: 15px;
    }.blog_1_quote_27::after{
        right: 141px;
        top: 15px;
    }.full_width_img_resp{
        width: 100%;
    }.title_set_stop{
        margin-top: 20px;
    }.res_top_margin{
        margin-top: 30px;
    }.show_hide_br{
        display: none;
    }.health-tip-title{
        padding: 0px;
    }
    .contact-modal .modal-content{
        padding: 48px 15px 36px 15px;
    }
    .blog-detail .pad_box_set,.blog-detail .text_common,.blog-detail .sol_para,.blog-detail .title_set_stop{
        text-align: center;
    }
    .blog-detail .title_set_stop{
        margin-top: 30px;
    }
    .mobile-hide{
        display: none;
    }
    .blog-detail .blue_pad_set.blue_box{
        margin: 25px auto 20px;
    }
    .power_blue_box_mar_top{
        padding: 0px;
    }
    .news-first-section{
        text-align: center;
    }
    .main_title_news{
        margin-top: 30px;
        line-height: 22px;
        text-align: center;
    }
    .res_query .content_text {
        text-align: center;
    }
    .bg_set_box{
        margin: 0 auto;
    }
    .title_top_main_set h2{
        color: #3379B0;
        text-align: center;
    }
    .title_top_main_set{
        background: none;
        padding-top: 30px;
        padding-bottom: 10px;
    }.content_div_text{
        padding-top: 0px;
    }.content_div_text p {
        text-align: center;
    }.mobile_responsive_news_1{
        text-align: center;
    }.title_clean{
        text-align: center;
    }.blue_bg_dark h4{
        text-align: center;
    }.blue_bg_dark p{
        text-align: center;
    }.last_para h3{
        text-align: center;
    }.last_para{
        text-align: center;
    }.bg_color_change p{
        text-align: center;
    }.sol_para{
        text-align: center;
    }.company-news{
        text-align: center; 
    }.sol_para .big_title{
        max-width: 600px;
        margin: 0 auto !important;
    }.pad_top_adjust_about,.email-link{
        width: 100%;
    }.blog_2_mar_set{
        text-align: center;
    }.healthcare_box_set{
        padding-left: 0px !important;
    }.healthcare_box_set::after{
        left: 218px;
    }.pos_rel h2 br{
        display: none;
    }.ul_mar_top{
        text-align: left !important;
    }
    .quote_left{
        max-width: 350px !important;
    }
}
@media only screen and (max-width: 768px){
    .res_query{
        margin-top: 15px;
    }
    .cost-reduce-listing .col-md-2{
        max-width: 50%;
        flex: 0 0 50%;
    }
    .info{
        padding-top: 20px;  
    }.network-provider p{
        font-size: 18px;
        padding: 7px 7px 7px;
    }.slider-title br{
        display: none;
    }.set_content{
        display: inline !important;
        text-align: center;
    }.padding_bg_dark_responsive{
        padding: 30px;
        padding-top: 49px;
        padding-left: 30px;
    }.blog_1_quote_27::after {
        right: 144px;
        top: 17px;
    }.sanctioned{
        top: 175px;
    }
}
@media only screen and (min-width: 768px){
    .desk_hide{
        display: none;
    }.custom_sep img {
        display: none;
    }
}
@media only screen and (max-width: 767px){ 
    .main_title_news{
        font-size: 14px;
    }
    .pad_set_adjust{
        padding-right: 15px;
    }
	.pad_set_adjust_left{
        padding-left: 15px;
    }
	.right_text_font{
        padding-left: 0px;
    }
	.content_div_text{
        padding: 15px;
    }
	.title_top_main_set{
        padding: 15px;
    }
	.title_top_main_set h2{
        font-size: 14px;
    }
    .space_adjust_top{
        margin-top: 20px;
    }
    .contact-details{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .separator-orange-vertical{
        display: none;
    }
    .address-section ul{
        justify-content: center;
    }
    .contact-details img{
        margin: auto auto 30px;
    }
    .address-section,.social-icons{
        width: 100%;
    }
    .social-logos{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .social-icons img,.social-logos li a{
        margin: 0px;
    }
    .address-section p{
        text-align: center;
    }.border_yellow{
        margin: 27px 0;
    }.solution_top_mar{
        text-align: center;
    }.mob_responsive_media{
        padding-left: 0px;
        padding-right: 0px;
    }.mob_responsive_media .row{
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0px;
        margin-left: 0px;
    }.img_1_class{
        margin-bottom: 10px;
    }.risk-reduce-title br{
        display: none;
    }.risk-detail{
        justify-content: center;
        display: inline-grid !important;
        text-align: center;
    }.health-tips{
        border-bottom: 4px solid #faa916;
    }.health-tip-title{
        padding: 0px;
    }.hide_mobile{
        display: none;
    }.network-provider p{
        font-size: 20px;
        max-width:595px;
    }.automated-date{
        border-top: 4px solid #FAA916;
        border-bottom: 4px solid #FAA916;
    }.cost-reduce-listing{
        display: inline-grid !important;
        text-align: center;
    }.cost-reduce-listing .col-md-2{
        max-width: 550px;
    }.align_mobile{
        text-align: center;
    }.risk-detail img{
        margin: 0 auto;
        margin-bottom: 15px;
    }.risk-detail .details-block{
        margin-left: 0px;
    }.connect-with-us .contact-title h4{
        text-align: center;
    }.hide_mob{
        display: none;
    }.mobi_slider_1{
        background-image: url("../images/mob_slider.png") !important;
        height: 750px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        text-align: center;
    }.break-seprator{
        display: grid;
        flex-wrap: wrap;
        margin-top: auto;
        margin: 0 auto;
    }.slider-about-it{
        margin-left: 0px;
    }.signature-text{
        margin-left: 0px; 
    }.logo-section h6{
        padding-left: 0px;
    }.logo-section .powered{
        padding-left: 0px;
        margin-right: -63px;
    }.important-text{
        margin: 25px 0px 30px !important;
    }.slider-image .separator{
        margin: 10px 0 10px;
    }.remove_relative{
        position: unset !important;
    }.slider-copyright-text{
        bottom: 20px;
    }.mobi_slider_2{
        background-image: url(../images/mobi_slider_2.png) !important;
        height: 750px !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        text-align: center; 
    }.set_class_container{
        height: 100%;
    }.custom_slider{
        margin: 20px auto;
    }.custom_sep{
        display: grid !important;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        margin-top: auto;
        height: 100%;
        margin-top: 205px;
    }.slider_height{
        height: 100%;
    }.custom_slider_about{
        margin-top: auto !important;
        margin-bottom: 0px;
    }.sanctioned{
        top: 295px;
    }.logo-section h6{
        justify-content: center;
        text-align: left;
        margin: 0 auto;
        padding-left: 106px;
        padding-top: 10px;
        padding-bottom: 10px;
    }.slider_1_section h6{
        padding-left: 104px;
    }.for_mob{
        display: block !important;
        width: 100%;
    }.t_margin_main{
        text-align: center;
    }.space_adjust_top p{
        text-align: center;
    }
    .g-recaptcha{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    div#captcha_msg{
        margin-top: 0;
    }.custom_sep img {
        display: block;
    }.sanctioned{
        display: none;
    }.mobile_san img{
        margin: 0 auto;
    }.logo-section img{
        margin: 0 auto;
    }.news-first-section{
        text-align: center;
    }.main_title_news{
        max-width: 310px;
        margin: 0 auto;
    }.quote_left::before{
        left: 51px;
    }.quote_left::after{
        top: 23px;
        right: 95px;
    }.para_text_26.mar_custom_para.blog-detail-subtitle{
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 766px){
    
}
@media only screen and (max-width: 600px){
    .last_para,.grey_bg_set,.blue_bg_dark{
     padding: 15px;
    }.pos_rel{
        padding-left: 65px !important;
    }.quote_left::before{
        left: 80px;
    }.quote_left::after{
        left: 350px;
    }.padding_bg_dark_responsive{
        padding: 30px;
    }
 }
 @media only screen and (max-width: 603px){
    .show_hide_br{
        display: block;
    }
}
 @media only screen and (max-width: 632px){
     .contact_us h3 br{
         display: none;
     }
 }
@media only screen and (max-width: 500px){
    .cost-reduce-listing .col-md-2{
        max-width: 100%;
        flex: 0 0 100%;
    }
}
@media only screen and (max-width: 575px){
    .res_margin_top{
        margin-top: 20px !important;
    }.show_hide_br{
        display: none;
    }
}
@media only screen and (max-width: 488px){
    .title_set_stop br {
        display: none;
    }
}
@media only screen and (max-width: 483px){
    .blog_1_quote br{
        display: none;
    }.blog_1_quote::after{
        top: -5px;
        left: 16px;
    }.blog_1_quote_27 br{
        display: none;
    }
}

@media only screen and (max-width: 460px){
    .t_margin_main .title_container{ 
        padding-top: 32px;
        text-align: center;
    }.main_title_solutions{
        margin-bottom: 10px;
    }.t_margin_main .set_bg_dark{
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 17px;
        padding-right: 17px;
        text-align: center;
    }.t_margin_main .set_bg_dark .container{
        padding: 0px;
    }.t_margin_main .set_bg_dark .container .set_content {
        justify-content: center;
    }.t_margin_main .contact_us{
        margin-top: 17px;
    }.t_margin_main .custom_margin_top{
        margin-top: 17px;
    }.for_mob{
        width: 100%;
        display: block;
    }.leadership h1{
        text-align: center;
    }.margin-set_top{
        margin-top: 30px;
    }.space_adjust_top{
        text-align: center;
        margin-top: 0px;
        padding-left: 17px;
        padding-right: 17px;
    }.margin-set_top .text_set{
        text-align: center;
    }.margin-set_top .text_color{
        padding-top: 12px;
    }.margin-set_top .text_color_chief{
        margin-bottom: 7px;
    }.top_margin_mobile{
        margin-top: 14px;
    }.advisory_board{
        text-align: center;
        margin-bottom: 0px;
    }.advisory_board .advisory_board-list{
        margin-bottom: 30px;
    }.contact_us h3{
        line-height: 22px;
        letter-spacing: 0.34px;
        font-size: 17px;
    }.contact_us .c-pointer br{
        display: none;
    }.slider-text{
        margin-left: 0px;
    }.slider-title{
        padding: 20px 17px 0px 17px;
        text-align: center;
        letter-spacing: 0.56px;
    }.slider-title br {
        display: none;
    }.separator{
        margin-top: 14.13px;
        margin-bottom: 14px;
    }.network-provider .c-pointer{
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.34px;
        padding-top: 18px;
        padding-bottom: 18px;
    }.health-tip-title{
        padding: 0px;
    }.health-tips{
        padding-left: 0;
        padding-top: 27px;
        padding-right: 0px;
    }.health-tip-list{
        margin-left: 0;
    }.health-tip-list .col-md-6{
        margin-bottom: 25px;
    }.cost-reduce{
        padding-top: 39px;
    }.cost-title{
        padding-left: 11px;
        padding-right: 11px;
    }.cost-reduce-listing{
        text-align: center;
        margin-top: 40px;
    }.cost-reduce-listing .col-md-2{
        margin-bottom: 40px;
        padding: 0px 15px;
    }.network-detection h4{
        font-size: 17px;
        line-height: 22px;
    }.automated-date{
        padding: 0px;
    }.automated-date .container{
        padding: 0px;
    }.health-counter h4{
        font-weight: bold;
        text-align: center;
        padding-left: 17PX;
        padding-right: 17PX;
        margin-bottom: 30px;
        margin-top: 30px;
    }.automated-date .risk-reduce-title{
        padding-left: 17px;
        padding-right: 17px;
    }.risk-detail{
        display: inline-grid !important;
        width: 100%;
        text-align: center;
    }.risk-detail img {
        margin: 0 auto;
    }.risk-detail .details-block{
        margin: 0;
        margin-top: 17px;
    }.connect-with-us{
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 0px; 
        padding-bottom: 40px;
    }.connect-with-us .container{
        padding: 0px;
    }.contact-title h4 {
        padding-left: 17px;
        padding-right: 17px;
        text-align: center;
    }.connect-option-selection{
        padding-left: 15px;
        padding-right: 15px;
    }.connect-option-selection ul{
        margin-bottom: 40px;
        margin-top: 40px;
    }.contact-details{
        margin-top: 45px;
    }.contact-details img{
        margin-bottom: 0px;
    }.custom-header .navbar{
        display: flex; 
        justify-content: space-between;
    }
}
@media only screen and (max-width: 420px){
.blog_1_quote::after {
    top: -7px;
    left: 135px;
    }.blog_1_quote_27::after{
        top: 82px;
        left: 84px;
    }
}
@media only screen and (max-width: 375px){
.blog_1_quote::after {
    top: 16px;
    left: 16px;
    }.blog_1_quote_27::after{
    top: 82px;
    left: 190px;
    }
}
@media only screen and (min-width: 767px){
    .for_mob{
        display: none;
    }
}
@media only screen and (max-width: 360px){
    .slider-copyright-text {
        bottom: 10px;
        right: 10px;
    }.sanctioned{
        top: 295px;
        right: 60px;
    }
}
@media only screen and (max-width: 320px){
    .main_title_news{
        font-size: 13px;
    }  
    .bg_set_blue {
        height: 470px !important;
    }
    .main_title_news{
        font-size: 13px;
    }  
    .title_top_main_set h2{
        font-size: 11px;
    }.address-section ul{
        flex-wrap: wrap;
    }.pos_rel{
        padding-left: 38px !important;
    }.quote_left::before{
        left: 6px;
    }.quote_left::after{
        left: 72px;
    }.healthcare_box_set::after{
        top: 89px;
        left: 80px;
    }.blog_1_quote::after {
        top: 14px;
        left: 72px;
    }.pos_relative_set {
        position: relative;
        padding-left: 30px;
        padding: 31px;
    }.blog_1_quote_27::before{
        top: 12px;
        left: 0px;
    }.blog_1_quote_27::after {
        top: 90px;
        left: 72px;
    }.hide_320{
        display: none;
    }.sanctioned{
        top: 295px;
        right: 40px;
    }
    .comp_news_mar_top{
        height: 330px !important;
    }
}